    body,
    .card {
        background-color: #d2cee9;
    }
    
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    
    .card {
        border-radius: 12px;
        box-shadow: 7px 7px 14px #b3afc6, -7px -7px 14px #f2edff;
        height: 75%;
        width: 40%;
        transition: 0.3s all ease-in-out;
    }
    
    .button {
        height: 50px;
        width: 30px;
        border-radius: 75px;
        font-family: Helvetica;
        display: flex;
        /*   background-image: 
    linear-gradient(90deg, #23c3ab, #53dbbb); */
        text-transform: uppercase;
        color: #666;
        letter-spacing: 3px;
        font-size: 0.5rem;
        font-weight: 400;
        justify-content: center;
        align-items: center;
        box-shadow: 6px 6px 12px 3px rgba(90, 90, 90, 0.3), -4px -4px 12px 6px rgba(255, 255, 255, 0.3);
        transition: all .3s ease;
    }
    
    .button:hover {
        letter-spacing: 5px;
        box-shadow: 10px 10px 30px 10px rgba(90, 90, 90, 0.3), -8px -8px 10px 10px rgba(255, 255, 255, 0.3);
    }
    
    .button:active {
        letter-spacing: 3px;
        box-shadow: inset 4px 4px 8px 1px rgba(90, 90, 90, 0.3), inset -1px -1px 3px 1px rgba(255, 255, 255, 0.3);
    }
    
    .row-1 {
        padding: 5% 5% 5%;
        display: flex;
        /* background: red; */
    }
    
    .file-upload {
        background: black;
        flex: 3;
    }
    
    .upload {
        background: red;
        flex: 1;
    }
    
    .row-2 {
        background: orange;
        padding: 2% 2%;
    }
    
    .row-3 {
        background: green;
        padding: 2% 2%;
        height: 40%;
        display: flex;
        align-items: center;
    }
    
    .uploaded-img {
        height: 100%;
        width: 50%;
    }
    
    .loader {
        background: blue;
        padding: 2%;
    }
    /* row4 */
    
    .resize {
        font-family: Helvetica;
        display: flex;
    }
    
    .height-box {
        flex-wrap: wrap;
        flex: 10%;
        padding-left: 5%;
    }
    
    .width-box {
        flex-wrap: wrap;
        flex: 10%;
        padding-left: 3%;
    }
    
    .size-input {
        margin-bottom: 30px;
        border-radius: 10px;
        background: #d2cee9;
        box-shadow: inset 7px 7px 14px #b3afc6, inset -7px -7px 14px #f2edff;
        flex: auto;
        height: 45%;
        width: 55%;
        font-size: 18px;
    }
    /* row-5 */
    
    .row-5 {
        display: flex;
        font-size: 18px;
        font-family: Helvetica;
        justify-content: center;
    }
    
    .dropdown {
        margin-bottom: 30px;
        border-radius: 25px;
        background: #d2cee9;
        box-shadow: inset 7px 7px 14px #b3afc6, inset -7px -7px 14px #f2edff;
        flex: 1;
        padding-left: 3%;
        width: 200%;
        height: 40%;
    }
    /* options */
    
    .options-wrap {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .check-wrap {
        cursor: pointer;
    }
    
    input[type=checkbox] {
        display: none;
    }
    
    input[type=checkbox]+label:before {
        content: "";
        border-radius: 0.2em;
        display: inline-block;
        width: 0.5em;
        height: 0.5em;
        padding-left: 0.2em;
        padding-bottom: 0.3em;
        color: transparent;
        box-shadow: inset 7px 7px 14px #aca8b5, inset -7px -7px 14px #f2edff;
        transition: .2s;
    }
    
    input[type=checkbox]+label:active:before {
        transform: scale(0);
        background-color: black;
        box-shadow: 0px;
    }
    
    input[type=checkbox]:checked+label:before {
        background-color: #000000;
        box-shadow: 0px 0px 0px 10px black inset;
        border-color: black;
    }
    /* media queries */
    
    @media screen and (max-width: 768px) {
        .card {
            height: 80%;
            width: 80%;
        }
        .uploaded-img {
            height: 80%;
        }
    }