<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <title>imagics</title>
    <style>
        .mdc-card {
            position:relative;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 350px;
            width: 350px;

        }
        .card{
            display: flex;
            justify-content: center;
            align-items: center;
            top: auto;
            left: auto;

            background: black;
        }

        
    </style>
</head>

<body>
    <div class="card"> 
        <div class="mdc-form-field mdc-card">
            <form action="/upload" method="post" enctype="multipart/form-data">
                <input type="file" name="image" />
                <input type="submit" value="upload">
              </form>
            <label >upload some shit in here</label>
        </div>
    </div>
</body>

</html>