<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./home.css">
    <title>imagics</title>
</head>

<body>
    <div class="card">
        <div class="row-1">
            <div class="file-upload">hgjghgh</div>
            <div class="button upload">upload </div>
        </div>
        <div class="row-2">
            <%=(typeof(msg)=="undefined"?"":msg)%>
        </div>
        <div class="row-3">
            <img src="../uploads/image-1587413450188.png" class="uploaded-img">
            <div class="loader">fdfdfdfd</div>
        </div>
        <div class="row-4">
            <div class="resize">
                <div class="height-box">
                    <label for="resize">Height:</label>
                    <input type="text" class="size-input" placeholder="New height">
                </div>
                <div class="width-box">
                    <label for="resize">Width:</label>
                    <input type="text" class="size-input" placeholder="New Width">
                </div>
            </div>
        </div>
        <div class="row-5">
            <label for="dropdown">
                Change format : 
            </label>
            <div><select class="dropdown">
                <option value="png">png</option>
                <option value="jpg">jpeg</option>  
                <option value="tiff">tiff</option>
            </select></div>
        </div>
        <div class="options-wrap">
            <div class="row-6">
                <input type="checkbox" id="compress" name="compress" value="compress" class="check-wrap">
                <label for="compress"> Compress</label><br>
                <input type="checkbox" id="flip" name="flip" value="flip" class="check-wrap">
                <label for="flip"> Flip horizontally</label><br>
                <input type="checkbox" id="flop" name="flop" value="flop" class="check-wrap">
                <label for="flop"> Flip vertically</label><br><br>
            </div>
            <div class="row-7">
                <input type="checkbox" id="monochrome" name="monochrome" value="monochrome" class="check-wrap">
                <label for="monochrome"> Monochrome</label><br>
                <input type="checkbox" id="rotate-right" name="rotate-right" value="rotate-right" class="check-wrap">
                <label for="rotate-right">Rotate right</label><br>
                <input type="checkbox" id="rotate-left" name="rotate-left" value="rotate-left" class="check-wrap">
                <label for="rotate-left"> Rotate left</label><br><br>
            </div>
            <div class="row-8">
                <input type="checkbox" id="sepia" name="sepia" value="sepia" class="check-wrap">
                <label for="sepia"> Sepia</label><br>
                <input type="checkbox" id="enhance" name="enhance" value="enhance" class="check-wrap">
                <label for="enhance">Enhance</label><br>
                <input type="checkbox" id="equalize" name="equalize" value="equalize" class="check-wrap">
                <label for="equalize"> Equalize</label><br><br>
            </div>
        </div>
    </div>

</body>

</html>